Colors = {
  h1-border-fg: #d5d5d5
  h2-border-fg: #aaa
  link-fg: #05a
  link-hover-bg: #ffffa5

  fuzzySearch-bg: #fff
  fuzzySearch-stripe-bg: #F0F0F0
  fuzzySearch-link-fg: #fff
  fuzzySearch-highlight-bg: #ff0
  fuzzySearch-small-fg: #888

  help-bg: #fff
  help-key-bg: #eee
}

Fonts = {
    body: "Lucida Sans"\, "Lucida Grande"\, Verdana\, Arial\, sans-serif
}
